@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Klee+One&family=Neucha&family=Noto+Serif+TC&family=RocknRoll+One&family=Shippori+Mincho+B1&family=Titillium+Web:wght@300;400&display=swap');

.contact{
    margin: 3.34rem auto 3.34rem auto;
    background-color: white;
    width: 26.67rem; 
    height:30rem;
    border-radius: 0.34rem;
    padding: 0.67rem 1.34rem;
    box-shadow: 0 0.34rem 0.84rem rgba(92, 99, 105, .2);
    overflow-x:hidden;
    overflow-y:scroll;
}
.contactposition{
    display: flex;
    position: relative;
    flex-direction:column;
    /*height: 150vh;*/
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 5;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}
/*table*/
table {
  
  margin: 1rem auto;
  display: flex;
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0.034rem solid #dddddd;
  text-align: center;
  font-size: 0.84rem;
  padding: 1rem;
  font-weight:lighter;
}
th{
  background-color: rgb(242, 242, 242);
  color:rgb(96, 96, 96);
}

tr:nth-child(even) {
  background-color: #ffffff;
}
#num{
  color: rgb(148, 148, 148);
}

/*table end*/
.tab {
  overflow: hidden;
  border: 0.034rem solid rgb(235, 235, 235);
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.47rem 0.54rem;
  transition: 0.3s;
  font-size: 0.77rem;
  font-family: 'Shippori Mincho B1';
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(255, 249, 194);
    color: rgb(255, 133, 67);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(107, 107, 107);
  color: rgb(255, 255, 255);
}

/* Style the tab content */
.tabcontent {
  /*margin: auto;*/
  display: none;
  text-align: center;
  position: relative;
  padding: 0.2rem 0.4rem;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  margin: 0.1rem auto;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  height: 26.5rem;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.page{
  margin:auto;
  display: flex;
  position: relative;
  border-radius: 0.14rem;
  padding: 0 1.34rem;
  overflow-x:hidden;
  overflow-y:hidden;
  /*border: 1px solid #d1cabd;*/
}
/*tab end*/

.input {
  font-family: 'Shippori Mincho B1';
  position: relative ;
  top: 5rem;
  left: 0;
  height: 100%;
  width: 50%;
  border: 1px solid #bdbfc3;
  border-radius: 0.24rem;
  font-size: 0.74rem;
  padding: 0.1rem 1.67rem;
  outline: none;
  background: none;
  z-index: 1;
}
.input:focus + .label {
  top: -0.24rem;
  left: 0.1rem;
  z-index: 10;
  font-size: 0.47rem;
  font-weight: 600;
  color: rgb(255, 133, 67);
}

.input:focus {
  border: 0.067rem solid rgb(255, 178, 137);
}

.input:not(:placeholder-shown)+ .label {
  top: -0.24rem;
  left: 0.1rem;
  z-index: 10;
  font-size: 0.47rem;
  font-weight: 600;
}
.Btn{
  display: flex;
  justify-content: center; 
  top:5rem;
}

.submitBtn {
  display: block;
  padding: 0.2rem 0.5rem;
  border: none;
  background-color: rgb(80, 80, 80);
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 0.67rem;
  margin-top: 1rem;
  font-family: 'Shippori Mincho B1';
}
.submitBtn:hover {
  background-color: rgb(255, 246, 161) ;
  color: rgb(255, 133, 67);
  transform: translateY(-0.067rem);
}
.label {
  position: absolute;
  display: block;
  top: 5.44rem;
  left: 2.3rem;
  padding: 0.014rem;
  color: #b4b6ba;
  font-size: 0.54rem;
  transition: 0.5s;
  z-index: 0;
}
::placeholder {
  color: rgb(213, 213, 213);
}
table svg{
  color:rgb(162, 162, 162);
  text-decoration: none;
  width:0.67rem;
  height:0.67rem;
}
table svg:hover {
  color: rgb(255, 133, 67);
  transform: translateY(-0.067rem);
}
@media screen and (max-width:600px) {
  .contact{
    margin: 8.34rem auto 25rem auto;
    width: 55rem; 
    height:90rem;
    border-radius: 2.34rem;
    padding: 0.67rem 1.34rem;
    box-shadow: 0 0.34rem 0.84rem rgba(92, 99, 105, .2);
  }
  .tab button {
    
    padding: 1.7rem 1.54rem;
    font-size: 2.8rem;
  }
  .tab {
    margin-top: 0.2rem;
    border-radius: 1.5rem 1.5rem 0 0;
  }
  .tabcontent {
    padding: 3rem;
    margin: 2.1rem auto;
    height: 100%;
    width: 100%;
  }
  td, th {
    text-align: center;
    font-size: 3rem;
    padding: 3rem 1rem;
  }
  table svg{
    width:3.67rem;
    height:2.67rem;
  }
  .input {
    border-radius: 1.24rem;
    font-size: 3rem;
    padding: 1.1rem 6rem;
  }
  .submitBtn {
    padding: 1.2rem 2rem;
    border-radius: 1.2rem;
    font-size: 3.3rem;
    margin-top: 5rem;
  }
  .input:focus {
    border: 0.25rem solid rgb(255, 178, 137);
  }
}